html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}

body
{
  overflow: hidden;
}

canvas
{
  display: block;
  touch-action: none;
}

.button
{
  border-radius: 20px;
  border: none;
  background: #d9d9d9;
  color: #000;
  font-size: 16px;
  padding: 10px 10px;
}

.toggle
{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.toggle input
{
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ccc;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.toggle input::before
{
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.2s;
}

.toggle input:checked
{
  background: #4caf50;
}

.toggle input:checked::before
{
  transform: translateX(22px);
}

.slider
{
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  margin: 0;
  padding: 0;
}

.slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.slider::-moz-range-thumb
{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
